body { background: url(/imgs/argyle.png) repeat; }

#title { font: 2.5em Museo; color: white; text-align: center; margin-top: 40px; }

#content { width: 500px; margin: auto; }

#reason { font: 1.5em MuseoItalic; color: white; text-align: center; margin-top: 150px; height: 50px; }

#links { text-align: center; margin-top: 300px; }

#links a { font: 1em Museo; color: #888; background-color: #151515; padding: 6px 9px; text-decoration: none; border-radius: 14px; }

#links a:hover { color: whitesmoke; background-color: #1a1a1a; }

#links a:first-child { margin-right: 75px; }

#twitter { position: absolute; left: 20px; bottom: 20px; }

#github { position: absolute; right: 20px; bottom: 20px; }